h1 {
    color:red;

}
h2 {
    color:purple;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h3 {
    color:gold;
}

.Başlık {
    text-align: center;
}

.Liste {
    list-style-position: inside;
}
.Ürünler {
    list-style-position: inside;
}